<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="News that matter to you, right in the today view.">
        <meta name="keywords" content="breaking,news,today,widget,view,mac,osx,apple,rss,feed">
        <title>Breaking ~ Short News in your Today view</title>

        <meta name="og:title" content="Breaking ~ Short News in your Today view" />
        <meta name="og:site_name" content="Breaking" />
        <meta name="og:url" content="http://itsbreaking.com" />
        <meta name="og:description" content="News that matter to you, right in the today view." />
        <meta name="og:image" content="{{{config.imgpath}}}/shareimage.jpg" />
        <meta name="og:locale" content="en_US" />
        <meta name="og:type" content="website" />
        <meta name="fb:app_id" content="608129299287211" />

        <meta name="twitter:card" content="app">
        <meta name="twitter:site" content="http://itsbreaking.com">
        <meta name="twitter:creator" content="@robocat">
        <meta name="twitter:description" content="News that matter to you, right in the today view.">
        <meta name="twitter:app:country" content="US">
        <meta name="twitter:app:name:iphone" content="Breaking">
        <meta name="twitter:app:id:iphone" content="953959186">
        <meta name="twitter:app:name:iphone" content="Breaking">
        <meta name="twitter:app:id:iphone" content="953959186">
    	
        <link rel='stylesheet' href='/css/main.css'>

        {{> reload }}
    
    </head>
    <body>
    	<div class="container">