{{> header }}

<div class="header-cont cont">
	<div class="header-int int">
		<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/breakingicon.png" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/breakingicon_2x.png" class="icon">
		<h1>Breaking</h1>
		<h2>News that matter to you,<br>right in the today tab.</h2>
		<span class="hidden appstore-hover"></span>
		<a href="https://itunes.apple.com/us/app/breaking-news-in-your-today/id940103986?ls=1&mt=8" title="Download on the Mac App Store" class="appstore">Download on the Mac App Store</a>
	</div>

	<div class="menubar">
	<div class="left">
		<a href="http://robo.cat" title="Robocat" class="robocat icon">
			<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/menubar-robocat.png" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/menubar-robocat_2x.png">
		</a>
		<div class="breaking">
			<span class="bold">Breaking</span>
		</div>
		<div class="clear"></div>
	</div>
	<div class="right">
		<div class="wifi icon">
			<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/menubar-wifi.png" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/menubar-wifi_2x.png">
		</div>
		<div class="sound icon">
			<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/menubar-sound.png" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/menubar-sound_2x.png">
		</div>
		<div class="date">
			<span id="time">Sun 17:44</span>
		</div>
		<div class="user">
			<span class="bold">Robocat</span>
		</div>
		<div class="spotlight icon">
			<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/menubar-spotlight.png" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/menubar-spotlight_2x.png">
		</div>
		<div class="notificationcenter icon">
			<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/menubar-notificationcenter.png" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/menubar-notificationcenter_2x.png">
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>

<div class="sidebar" id="sidebar">
	<div class="tabs">
		<div class="tab selected">
			<span>Today</span>
		</div>
		<div class="tab">
			<span>Notifications</span>
		</div>
	</div>
	<div class="line">
		&nbsp;
	</div>
	<div class="date" id="date">
		<div class="weekday" id="date-weekday">Sunday</div>
		<div class="day"><span id="date-dayofmonth">24</span><sup class="tense" id="date-tense">th</sup> <span class="month" id="date-month">December</span></div>
	</div>

	<div class="widget">
		<div class="widget-header">Breaking</div>
		<div class="feed" id="feed">
		</div>
	</div>
</div>
</div>

<div class="app-cont cont">
	<div class="app-int int">
		<div class="info">
			<h2>Meet Breaking, a little app that let’s you add<br> RSS feeds to your ‘Today tab’ in Yosemite.</h2>
			<p>Add local news, your favorite blogs or anything else that comes with an RSS feed as a ‘Today’ Widget in OS X Yosemite. The latest stories will always be right there when you have time for them, a simple gesture away. Breaking is an easy, uncluttered way of staying on top of what’s new in your world.</p>
		</div>

		<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/about-todayview.png" class="today-iphone" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/about-todayview_2x.png" alt="Today view">
		<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/about-interface.png" class="interface" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/about-interface_2x.png" alt="Briskey app">

		<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/about-todayview.png" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/about-todayview_2x.png" class="today" alt="Today view">
		<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/about-arrow.png" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/about-arrow_2x.png" class="arrow">
	</div>
</div>

<div class="features-cont cont">
	<div class="features-int int">
		<div class="feature">
			<div class="icon">
				<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/feature-breaking.png" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/feature-breaking_2x.png">
			</div>
			<h3>A Great Way to Catch Up On Headlines</h3>
			<p>Breaking marries the accessibility of the Today view with the power of RSS feeds. A News overview, only a gesture away.</p>
			<div class="clear"></div>
		</div>
		<div class="feature">
			<div class="icon">
				<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/feature-multiple.png" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/feature-multiple_2x.png">
			</div>
			<h3>Multiple Feeds</h3>
			<p>Follow multiple news outlets? (you should). Breaking merges unlimited feeds and displays the 5 latest stories.</p>
			<div class="clear"></div>
		</div>
		<div class="feature">
			<div class="icon">
				<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/feature-rss.png" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/feature-rss_2x.png">
			</div>
			<h3>We’ll find the feed for you</h3>
			<p>Just type in the url and we’ll search the site and find the feed for you. It’s really easy.</p>
			<div class="clear"></div>
		</div>
		<div class="feature">
			<div class="icon">
				<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/feature-featured.png" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/feature-featured_2x.png">
			</div>
			<h3>Build for Yosemite</h3>
			<p>Breaking was build specifically for digesting news on OS X Yosemite.</p>
			<div class="clear"></div>
		</div>
		
	</div>
</div>

<div class="download-cont cont">
	<div class="download-int int">
		<div class="asection">
			<img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/breaking-icon-small.png" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/breaking-icon-small_2x.png">
			<h3>Start scanning the news.<br> Get Breaking on the App Store.</h3>
			<div class="clear"></div>
		</div>
		<div class="bsection">
			<a href="https://itunes.apple.com/us/app/breaking-news-in-your-today/id940103986?ls=1&mt=8" title="Download on the Mac App Store" class="appstore">Download on the Mac App Store</a>
		</div>
	</div>
</div>

<div class="footer-cont cont">
	<div class="footer-int int">
		<div class="asection">
			<a href="http://robo.cat/" class="robocat"><img src="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/robocat.png" data-at2x="http://cdn.getforge.com/itsbreaking.com/1417698046/assets/images/robocat_2x.png"></a>
			<h4>Made by Robocat</h4>
			<p>Breaking is designed and developed<br>by a small team from Denmark called <a href="http://robo.cat">Robocat</a>.</p>
		</div>
		<div class="bsection">
			<span class="hidden twitter-hover"></span>
			<span class="hidden facebook-hover"></span>
			<span class="hidden email-hover"></span>
			<a href="http://twitter.com/robocat" title="Robocat on Twitter" class="button twitter">Twitter</a>
			<a href="http://facebook.com/robocat" title="Robocat on Facebook" class="button facebook">Facebook</a>
			<a href="mailto:hello@robo.cat" title="Say Hello with an Email" class="button email">Email</a>
		</div>
	</div>
</div>

{{> footer }}