// Returns path for image-url
$image-path: '/images/' !default;

@if not function-exists(image-url) {
  @function image-url($filename) {
    @return url('#{$image-path}#{$filename}');
  }
}

@include keyframes(slideIn) {
	from {
		box-shadow: none;
		right: -$sidebar-width;
	}
	to {
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
		right: 0;
	}
}

@mixin retina-hover($name, $size, $type: "png", $hover-suffix: "-hover", $retina-suffix: "_2x") {
	$hover: $name + $hover-suffix;

	@include retina-image($name, $size); 

	&:hover { @include retina-image($hover, $size); }
	&:after {
		display: none;
		content: image-url($hover + "." + $type);
		@include hidpi { content: image-url($hover + $retina-suffix + "." + $type); }
	}
}
