h1, h2, h3, h4, p, li, a, span {
	font-family: $default-font;
	font-weight: $default-weight;
}

h1 {
	font-weight: 500;
}

img {
	max-width:100% !important;
	height:auto;
    display:inline-block;
}


.hidden {
	display: none;
}

.clear {
	clear: both;
}

.cont {
	width: 100%;
}

.int {
	@include outer-container;
}

@include keyframes(slidein) {
    to { top: 0; }
}

@include keyframes(slideout) {
	from { top: 0; }
    to { top: -100%; }
}

@include keyframes(fadeout) {
	from { opacity: 1; }
    to { opacity: 0; }
}

@include keyframes(fadein) {
	from { opacity: 0; }
    to { opacity: 1; }
}