.download-cont {
	background: #2d2b27;
	padding: 35px 5px 45px 5px;
}

.download-int {
	text-align: center;
	
	.section {
		@include span-columns(4 of 12);
		text-align: center;
		height: 170px;

		line-height: 170px;


		a, img {
			display: inline-block;
			vertical-align: middle;
		}

		img {
			height: 110px;
			width: auto;
		}
	}

	.bsection {
		.osx { margin-right: 10px; }
		.ios { margin-left: 10px; }

		a:hover {
			opacity: 0.8;
		}
	}
	
	.csection {
		@include omega;
	}

	h3 {
		color: #fff;
		font-size: 20pt;
		font-weight: 200;
		line-height: 20pt;
		margin: 0px 0 20px 0;
	}

	.appstore {
		margin-top: (125px - 70) / 2;
	}
}

@include media(max-width 780px) {
	.download-int {
		.bsection {
			a img {
				height: 90px;
			}
		}
	}
}

@include media(max-width 730px) {
	.download-int {
		.bsection {
			a {
				&.osx { margin-right: 3px; }
				&.ios { margin-left: 3px; }

				img {
					height: 80px;
				}
			}
		}
	}
}

@include media(max-width 680px) {
	.download-int {
		padding: 20px 5px;

		.section {
			@include span-columns(6 of 12);
			line-height: 80px;
			height: 80px;
			text-align: center;
		}

		.bsection {
			display: none;
		}
	}
}

@include media(max-width 500px) {
	.download-int {
		// padding: 20px 5px;

		.asection, .csection {
			@include span-columns(12 of 12);
			@include omega;
		}

		.asection {
			margin-bottom: 20px;
		}
	}
}
