.download-cont {
	background: #2d2b27;
	padding: 35px 5px 45px 5px;
}

.download-int {
	text-align: center;
	
	.section {
		@include span-columns(4 of 12);
		text-align: center;
		height: 170px;

		line-height: 170px;


		a, img {
			display: inline-block;
			vertical-align: middle;
		}

		img {
			height: 110px;
			width: auto;
		}
	}

	.bsection {
		.osx { margin-right: 10px; }
		.ios { margin-left: 10px; }

		a:hover {
			opacity: 0.8;
		}
	}
	
	.csection {
		@include omega;
	}

	h3 {
		color: #fff;
		font-size: 20pt;
		font-weight: 200;
		line-height: 20pt;
		margin: 0px 0 20px 0;
	}

	.appstore {
		margin-top: (125px - 70) / 2;
	}
}

@include media(max-width 860px) {
	.download-int {
		h3 {
			font-size: 16pt;
			line-height: 22pt;
		}
	}
}

@include media(max-width 680px) {
	.download-int {
		.asection, .bsection {
			@include span-columns(12 of 12);
			@include omega;
			text-align: center;
			height: auto;
		}

		img {
			float: none;
			margin-right: 0;
		}
	}
}