.footer-cont {
	padding: 60px 0;
}

.footer-int {
	padding: 100px 5px;
	text-align: center;

	.asection, .bsection {
		@include span-columns(6 of 12);
	}

	.bsection {
		@include omega;
		text-align: right;
	}

	h4, p, a {
		color: #252525;
	}

	p {
		color: #8a8984;
		font-size: 22pt;
		line-height: 64px;
		height: 64px;
		margin-top: 0px;
		margin-bottom: 30px;
		font-style: italic;

		.robocat {
			margin: 0 20px;
			display: inline-block;
			vertical-align: middle;

			&:hover img {
				opacity: 0.6;
			}
		}
	}

	.button {
		$button-color: #000;
		background-repeat: no-repeat;
		border: 2px solid $button-color;
		border-radius: 6px;
		color: $button-color;
		display: inline-block;
		font-size: 14pt;
		margin-top: 4px;
		margin-left: 6px;
		padding: 21px 15px 21px 60px;
		text-decoration: none;
		@include transition(all 0.2s ease);

		&:after {
			display: none;
		}

		&:hover {
			background-color: $button-color;
			color: #fff;
		}

		&.robocat { @include retina-hover("button-robocat", 36px 40px); background-position: 8px center; }
		&.twitter { @include retina-hover("button-twitter", 39px 33px); background-position: 12px center; }
		&.facebook { @include retina-hover("button-facebook", 24px 41px); background-position: 17px center; }
		&.email { @include retina-hover("button-email", 44px 32px); background-position: 7px center; }
		&.press { @include retina-hover("button-press", 35px 39px); background-position: 8px center; }
	}
}

@include media(max-width 700px) {
	.footer-int {
		p {
			display: block;
			line-height: 36pt;
			height: auto;

			.robocat {
				display: block;
			}
		}
	}
}

@include media(max-width 480px) {
	.footer-int {
		padding: 30px 5px;

		.button {
			display: block;
		}
	}
}