.header-container {
	background-image: image-url("header-background.jpg");
	background-size: cover;
	background-position: 50% 50%;
	position: relative;

	.curtain {
		background-color: #252525;
		display: block;
		height: 100%;
		left: 0;
		opacity: 0.5;
		position: absolute;
		top: 0;
		@include transition(opacity, 0.5s, ease-in-out);
		width: 100%;

		&:hover {
			opacity: 0.3;
		}
	}
}

.header {
	padding-top: 300px;
	padding-bottom: 300px;
	text-align: center;
}