.tips {
	$pages: 7;

	// width: $pages * 100vw;
	padding-bottom: 30px;

	.version {
		padding: 0 40px;

		.title {
			color: #373737;
			font-weight: 200;
			margin-top: 0;
			margin-bottom: 10px;
		}

		.description {
			color: #4d4340;
			margin-bottom: 30px;
		}
	}
}
