.yosemite-cont {
	background-image: image-url("yosemite.jpg");
	background-color: #000;
	background-size: cover;
	display: relative;
	height: $header-height;
	position: relative;
	overflow: hidden;
	border-top: 1px solid #a9a9a7;
}

.yosemite-int {
	text-align: left;

	h3, p {
		max-width: 764px;
	}

	h3 {
		color: #fee26d;
		font-size: 32pt;
		font-weight: 200;
		margin-top: 100px;
		margin-bottom: 30px;
	}

	p {
		color: #fff;
		font-size: 16pt;
		margin-bottom: 40px;
	}
}

@include media(max-width 1150px) {
	.yosemite-int {
		padding: 0 10px;
	}
	#sidebar {
		display: none;
	}
}

@include media(max-width 800px) {
	.yosemite-cont {
		height: auto;
	}

	.yosemite-int {
		padding: 100px 10px;

		h3 {
			margin-top: 0;
		}
	}
}

@include media(max-width 420px) {
	.yosemite-int {
		padding: 60px 10px;

		h3 {
			br {
				display: none;
			}
		}
	}
}

// @include media(max-width 420px) {
// 	.yosemite-cont {
// 		height: auto;
// 	}

// 	.yosemite-int {
// 		padding: 30px 0;
// 	}
// }